<!DOCTYPE html>
<html lang="en" ng-app="gameApp">
<head>
  <meta charset="UTF-8">
  <title>Angular TicTacToe</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/gameController.js"></script>
  <link href="css/game.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="GameController as game">

<h1>Tic Tac Toe</h1>
<h2>Player One, click the grid to place the first x. Player Two will be o</h2>

 <table class="gameBoard">
  <tr>
    <td ng-click="game.addX()" data-num="1" class="cell">{{ game.storeMoves[0] }}</td>
    <td ng-click="" data-num="2" class="cell">{{ game.storeMoves[1] }}</td>
    <td ng-click="" data-num="3" class="cell">{{ game.storeMoves[2] }}</td>
  </tr>
  <tr>
    <td ng-click="" data-num="4" class="cell">{{ game.storeMoves[3] }}</td>
    <td ng-click="" data-num="5" class="cell">{{ game.storeMoves[4] }}</td>
    <td ng-click="" data-num="6" class="cell">{{ game.storeMoves[5] }}</td>
  </tr>
  <tr>
    <td ng-click="" data-num="7" class="cell">{{ game.storeMoves[6] }}</td>
    <td ng-click="" data-num="8" class="cell">{{ game.storeMoves[7] }}</td>
    <td ng-click="" data-num="9" class="cell">{{ game.storeMoves[8] }}</td>
  </tr>
</table>
  
</body>
</html>