<!DOCTYPE html>
<html lang="en" ng-app="gameApp">
<head>
  <meta charset="UTF-8">
  <title>Angular TicTacToe</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/gameController.js"></script>
  <link href="css/game.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="GameController as game">

<h1>Tic Tac Toe</h1>
<h2>Player One, click the grid to place the first x. Player Two will be o</h2>

 <table class="gameBoard">
  <tr>
    <td ng-model="clicked" ng-click="game.assignMove(1)" id="1" class="cell">
      {{ game.storeMoves[0] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>

    <td ng-click="game.assignMove" id="2" class="cell">
      {{ game.storeMoves[1] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>

    <td ng-click="game.assignMove" id="3" class="cell">
      {{ game.storeMoves[2] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>
  </tr>

  <tr>
    <td ng-click="game.assignMove" id="4" class="cell">
      {{ game.storeMoves[3] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>

    <td ng-click="game.assignMove" id="5" class="cell">
      {{ game.storeMoves[4] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>

    <td ng-click="game.assignMove" id="6" class="cell">
      {{ game.storeMoves[5] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>
  </tr>

  <tr>
    <td ng-click="game.assignMove" id="7" class="cell">
      {{ game.storeMoves[6] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>
    <td ng-click="game.assignMove" id="8" class="cell">
      {{ game.storeMoves[7] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>

    <td ng-click="game.assignMove" id="9" class="cell">
      {{ game.storeMoves[8] }}
      <p ng-if="game.moveX.indexOf(1)!==-1">x</p>
      <p ng-if="game.moveO.indexOf(1)!==-1">o</p>
    </td>
  </tr>
</table>
  
</body>
</html>